<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pinche</key>
	<dict>
		<key>text</key>
		<string>顺路拼车</string>
		<key>desc</key>
		<string>下班的难打，顺路蹭回家</string>
		<key>label</key>
		<string>pinche</string>
		<key>color</key>
		<array>
			<integer>234</integer>
			<integer>85</integer>
			<integer>58</integer>
		</array>
		<key>colorPic</key>
		<string>red.png</string>
		<key>logo</key>
		<string>pinche.png</string>
	</dict>
	<key>delivery</key>
	<dict>
		<key>text</key>
		<string>征人跑腿</string>
		<key>desc</key>
		<string>晚上睡不着，征人带夜宵</string>
		<key>label</key>
		<string>delivery</string>
		<key>color</key>
		<array>
			<integer>111</integer>
			<integer>186</integer>
			<integer>44</integer>
		</array>
		<key>colorPic</key>
		<string>green.png</string>
		<key>logo</key>
		<string>runner.png</string>
	</dict>
	<key>virtual</key>
	<dict>
		<key>text</key>
		<string>随便问问</string>
		<key>desc</key>
		<string>我不是海尔兄弟，也爱问问</string>
		<key>label</key>
		<string>virtual</string>
		<key>color</key>
		<array>
			<integer>0</integer>
			<integer>160</integer>
			<integer>202</integer>
		</array>
		<key>colorPic</key>
		<string>blue.png</string>
		<key>logo</key>
		<string>virtual.png</string>
	</dict>
	<key>handyman</key>
	<dict>
		<key>text</key>
		<string>来人修理</string>
		<key>desc</key>
		<string>天生电器杀手，求维修达人</string>
		<key>label</key>
		<string>handyman</string>
		<key>color</key>
		<array>
			<integer>218</integer>
			<integer>51</integer>
			<integer>145</integer>
		</array>
		<key>colorPic</key>
		<string>purple.png</string>
		<key>logo</key>
		<string>handyman.png</string>
	</dict>
	<key>jobs</key>
	<dict>
		<key>text</key>
		<string>招贤纳士</string>
		<key>desc</key>
		<string>这儿啥都不缺就是缺人才</string>
		<key>label</key>
		<string>jobs</string>
		<key>color</key>
		<array>
			<integer>241</integer>
			<integer>141</integer>
			<integer>0</integer>
		</array>
		<key>colorPic</key>
		<string>orange.png</string>
		<key>logo</key>
		<string>jobs.png</string>
	</dict>
</dict>
</plist>
