<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>food</key>
	<dict>
		<key>no</key>
		<integer>1</integer>
		<key>label</key>
		<string>food</string>
		<key>text</key>
		<string>请你吃顿饭</string>
		<key>desc</key>
		<string>empty</string>
		<key>logo</key>
		<string>foodLogo.png</string>
		<key>showPic</key>
		<string>food.png</string>
	</dict>
	<key>drink</key>
	<dict>
		<key>no</key>
		<integer>2</integer>
		<key>label</key>
		<string>drink</string>
		<key>text</key>
		<string>请你吃喝饮料</string>
		<key>desc</key>
		<string>empty</string>
		<key>logo</key>
		<string>drinkLogo.png</string>
		<key>showPic</key>
		<string>drink.png</string>
	</dict>
	<key>movie</key>
	<dict>
		<key>no</key>
		<integer>3</integer>
		<key>label</key>
		<string>movie</string>
		<key>text</key>
		<string>请你看电影</string>
		<key>desc</key>
		<string>empty</string>
		<key>logo</key>
		<string>movieLogo.png</string>
		<key>showPic</key>
		<string>movie.png</string>
	</dict>
	<key>gift</key>
	<dict>
		<key>no</key>
		<string>4</string>
		<key>label</key>
		<string>gift</string>
		<key>text</key>
		<string>送你小礼物</string>
		<key>desc</key>
		<string>emtpy</string>
		<key>logo</key>
		<string>giftLogo.png</string>
		<key>showPic</key>
		<string>gift.png</string>
	</dict>
	<key>money</key>
	<dict>
		<key>no</key>
		<integer>5</integer>
		<key>label</key>
		<string>money</string>
		<key>text</key>
		<string>现金奖励</string>
		<key>desc</key>
		<string>empty</string>
		<key>logo</key>
		<string>moneyLogo.png</string>
		<key>showPic</key>
		<string>money.png</string>
	</dict>
</dict>
</plist>
